version: "2"
volumes:
  content:
  settings:
services:
  nodeapp:
    build: ./app
    restart: always
    privileged: true
    network_mode: host
    volumes:
      - "content:/usr/src/app/content"
    ports:
      - "3000:3000" # Expose port 3000

  scp-server:
    network_mode: host
    restart: always
    build: ./scp-server
    privileged: false
    labels:
      io.balena.features.dbus: 1
    volumes:
      - "content:/content"
    ports:
      - "22:22/udp"
      - "22:22/tcp"

  phidgets:
    build: ./phidgets
    restart: always
    network_mode: host
    privileged: true
    ports:
      - "5661:5661"
    labels:
      io.balena.features.kernel-modules: "1"
      io.balena.features.firmware: "1"
      io.balena.features.dbus: "1"
      io.balena.features.supervisor-api: "1"
      io.balena.features.balena-api: "1"

  browser:
    build: ./browser
    network_mode: host
    privileged: true # required for UDEV to find plugged in peripherals such as a USB mouse
    labels:
      io.balena.features.dbus: 1
    depends_on:
      - nodeapp
    volumes:
      - "settings:/data"
    devices:
      - "/dev/snd:/dev/snd" # Explicitly map sound devices
    environment:
      # RustDesk remote access configuration
      - RUSTDESK_ENABLED=${RUSTDESK_ENABLED:-0}
      - RUSTDESK_PASSWORD=${RUSTDESK_PASSWORD:-}
      - RUSTDESK_SERVER=${RUSTDESK_SERVER:-}
      - RUSTDESK_KEY=${RUSTDESK_KEY:-}
    ports:
      - "5011:5011" # management API (optional)
      - "35173:35173" # Chromium debugging port (optional)
      - "21115:21115" # RustDesk NAT type test
      - "21116:21116/udp" # RustDesk ID server
      - "21116:21116/tcp" # RustDesk ID server
      - "21117:21117" # RustDesk relay
      - "21118:21118" # RustDesk websocket

  cloudflared:
    build: ./cloudflared
    restart: always
    network_mode: host
    environment:
      - TUNNEL_TOKEN=${TUNNEL_TOKEN}
    depends_on:
      - nodeapp
